.container {
    color: white;
    /* position: relative; */
    font-family: sans-serif;
  }

  .container  .box , .image{
    width: 20vw;
    height: 30vh;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 0.7rem;
    transition: all ease .75s;
  }

  .container:hover , .box:hover {
    scale: 1.05;
    transition: all 0.5s;
  }

  .container .box .title {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  

  @media screen and (max-width: 550px) {
    .container  .box , .image{
      height: 20vh;
      width: 30vw;
      padding: .5rem;
    }

    .container .box .title {
      font-size: .7rem;
    }
    
  }