:root {
  --cardPadding: 0px;
  --cardRotation: 10deg;

  --col1: #4c0ab2; 
  --col2: #3e48ff;
  --col3: #3969E9;
  --col4: #4BA4FE;
}

.homeCard {
  height: 150vh;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: aliceblue;
  background-color: rgb(0, 0, 0);
  padding: 0px var(--cardPadding);
  flex: 1;
  position: relative;

  transition-duration: 200ms;
  cursor: pointer;

  transform: rotateZ( var(--cardRotation) );
  overflow: hidden;
}

.homeCard:hover{
  flex: 1.2;
}

.homeCard > *{
  transform: rotateZ(calc(var(--cardRotation) * -1));
} 

#card1{
  background-color: var(--col1);
}

#card2{
  background-color: var(--col2);
}

#card3{
  background-color: var(--col3);
}

#card4{
  background-color: var(--col4);
}


.homeCard > h1 {
  font-size: 5em;
  z-index: 2;
}

.homeCard > h3 {
  display: flex;
  align-items: center;

  text-align: center;
  margin-top: 0px;
  font-size: 2em;
  margin-bottom: 20px;
  height: 50px;
  z-index: 2;
}

.homeCard > p {
  height: 100px;
  z-index: 2;
}

.homeCard > button {
  width: max-content;
  font-family: "Inter";
  font-weight: 500;
  border: 0px solid rgb(34, 125, 216);
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 8px 30px;
  cursor: pointer;

  transition-duration: 100ms;
  z-index: 2;
}

.homeCard > button:hover {
  background-color: rgb(34, 125, 216);
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1220px) {

  .homeCard{
    transform: none;
  }

  .homeCard > *{
    transform: none;
  }

  .homeCard {
    min-height: 50svh;
    width: 100%;
    color: white;
    /* background-color: transparent; */
  }

  #card1 {
    background-image: url("../assets/research.jpg");
    background-size: cover;
  }

  #card2 {
    background-image: url("../assets/conference.jpg");
    background-size: cover;
  }

  #card3 {
    background-image: url("../assets/publication.jpg");
    background-size: cover;
  }

  #card4 {
    background-image: url("../assets/talks.jpg");
    background-size: cover;
    background-position: center;
  }

}
