.layout{
    min-height: 100vh;
    background-color: #111111;
    color: white;
}

.layoutTitle{
    margin-left: 4vw;
    padding-top: 50px;
    font-size: 2em;
}

.content{
    padding: 20px 4vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.publication{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.publicationYear{
    flex-grow: 1;
}

.pub{
    position: relative;
    background-color: rgb(45, 43, 53);
    
    padding: 10px 20px;
    margin-bottom: 50px;

    /* min-width: 300px;
    width: calc(50% - 60px); */
    width: 100%;

    /* transform: skewX(-5deg); */

    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.pub::after{
    content: '';
    height: 5px;
    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 162, 226);
}

.pub:hover{
    transform: scale(1.01);
}

.pub > h4{
    margin-bottom: 0px;
}

.pub > p:nth-of-type(1){
    color: gray;
    margin-top: 5px;
    font-style: italic;
}

.goback{
    position: fixed;
    padding: 15px 20px;

    background-color: rgb(0, 119, 255);
    color: White;
    border-radius: 100px;
    bottom: 20px;
    right: 20px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-weight: 700;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 200ms;
}

.goback:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 1080px) {
    .pub{
        width: 100%;
        transform: skewX(0deg);
    }
    .pub:hover{
        transform: none;
    }
    .content{
        padding: 20px 4vw;
    }
    .goback{
        background-color: rgb(0, 153, 255);
        font-weight: 500;
        color: white;
    }
  }