.teacherCard{
    font-size: 1.5em;

    /* padding: 20px 100px; */
    width: 350px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.publications{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

}

.teacherCardImg{

    height: 400px;
    width: 100%;
    background-color: lightblue;

}

.teacherCardName{
    padding: 20px 40px;
    text-align: center;
}