.teacherCard{
    font-size: 1.5em;

    /* padding: 20px 100px; */
    width: 20vw;
    height: fit-content;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition-duration: 200ms;

}

.teacherCard:hover{
    filter: brightness(90%);
}

.publications{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

}

.teacherCardImg{

    object-fit: cover;
    height: 400px;
    width: 100%;
    background-color: lightblue;

}

.teacherCardName{
    padding: 20px 40px;
    text-align: center;
}


@media screen and (max-width: 1080px) {

    .teacherCard{
        width: 25vw;
    }

}

@media screen and (max-width: 600px) {

    .teacherCard{
        width: 60vw;
    }

    .publications{
        justify-content: center;
    }

}