.sideCard{
    max-width: 300px;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Inter';
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: teal;
    color: white;

    background-image: url('../assets/tiet.jpeg');
    background-size: cover;

    position: relative;
}

.sideCard::after{
    position: absolute;
    content: '';

    height: 100%;
    width: 100%;

    transform: translateX(-30px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.sideCard > h3{
    margin-bottom: 0px;
    z-index: 2;
}

.sideCard > p{
    z-index: 2;
}

.sideCard > button{
    
    z-index: 2;
    width: max-content;
    font-family: 'Inter';
    font-weight: 500;
    border: 2px solid rgb(34, 125, 216);
    background-color: transparent;
    padding: 8px 20px;
    cursor: pointer;

    transition-duration: 100ms;
    z-index: 2;
    color: inherit;

    margin-top: 30px;
}

.sideCard > button:hover{

    background-color: rgb(34, 125, 216);
    color: aliceblue;

}