body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }
  @media (min-width: 1024px) {
    body {
      font-size: 19px;
    }
  }
  @media (min-width: 1280px) {
    body {
      font-size: 20px;
    }
  }